<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM</title>

	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>

<body>
<header>
	<nav>
		<ul>
			<li><a href="/features">Features</a></li>
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/Customers">Customers</a></li>
			<li><a href="/add-ons">Add-Ons</a></li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="/developers">Developers</a></li>
		</ul>
	</nav>
</header>

<!-- <img src="http://www.mobimanage.com/wp-content/uploads/2014/09/Blog-image-CRM.jpg"> -->
<img src="https://c.s-microsoft.com/en-ca/CMSImages/header_CRM_679.jpg?version=11f0ced0-c037-ebbf-59a6-dd19771a12f7">


	<%= yield %>

<footer>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/contacts">Contacts</a></li>
			<li><a href="/contacts/new">New Contact</a></li>
		</ul>
	</nav>
</footer>
</body>
</html>